body {
    background-color: #000000;
    color: #FFFFFF;
    overflow-x: hidden;
    min-height: 100vh;
    margin: 0px;
}

header {
    border-bottom: 1px solid #585858;
    position: fixed;
    width: 100%;
    height: auto;
    background-color: #000000;
}

#header_container {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#mea {
    display: flex;
    font-size: 30px;
    vertical-align: middle;
}

#test_name {
    display: flex;
    font-size: 20px;
    vertical-align: middle;
}

#add_button {
    position: fixed;
    margin-left: 93%;
    padding-top: 20px;
}

#dialogue_add_section {
    display: block;
    visibility: hidden;
    position: fixed;
    margin-left: 85%;
    margin-top: 90px;
    width: 200px;
    height: 300px;
    border: 1px solid #585858;
    background-color: #E9E1D6;
    color: black;
    border-radius: 20px;
}

#dialogue_title_input {
    width: 150px;
    height: 16px;
    display: flex;
    margin: 5px auto;
}

#dialogue_passage_input {
    width: 150px;
    height: 170px;
    display: flex;
    margin: 5px auto;
}

#dialogue_add_btn {
    display: flex;
    margin: 10px auto;
    width: 60px;
    height: 20px;
    border: 2px solid #585858;
    border-radius: 5px;
}

main {
    padding-top: 60px;
    height: 100%;
}

#dialogue_container {
    padding-top: 10px;
}

#dialogue {
    background-color: #2E2E2E;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    height: 200px;
    border: 1px solid #585858;
    border-radius: 20px;
}

#dialogue_img {
    float: left;
    height: 180px;
    width: 320px;
    display: flex;
    margin: 10px 20px;
    vertical-align: middle;
}

#dialogue_title {
    display: flex;
    margin: 10px 20px;
    font-size: 40px;
}

#dialogue_desc {
    display: flex;
    margin: 10px 20px;
    font-size: 15px;
}