<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/style.css')}}">
    <title>MEA prototype</title>
    <script src="{{url_for('static', filename='JS/script.js')}}" defer></script>
</head>
<body>
    <header>
        <div id="header_container">
            <div id="mea">Memory with AI 📚</div>
            <div id="synonym_container">
                <input id="synonym_input" placeholder="유의어 검색">
                <button id="synonym_btn">Search</button>
                <div id="synonyms"></div>
            </div>
            <!-- <div id="test_name">2023년 2학기 기말고사</div> -->
        </div>
    </header>
    <main>
        <img src="{{url_for('static', filename='icons/add-button.png')}}" id="add_button" style="height: 60px; width: 60px;" alt="add-button">
        <div id="dialogue_add_section">
            <p style="margin: 16px auto; font-size: 20px; display: flex; justify-content: center;">지문 추가</p>
            <input id="dialogue_title_input" type="text" placeholder="Title">
            <input id="dialogue_passage_input" type="text" placeholder="Passage">
            <button onclick="send_passage()" id="dialogue_add_btn">
                <p id="dialogue_add_btn_p" style="display: flex; justify-content: center; font-size: 10px; margin: auto auto;">SUBMIT</p>
            </button>
        </div>
        <div id="dialogue_container", class="dialogue_container">
        </div>
    </main>

</body>
</html>