body {
    background-color: #000000;
    color: #FFFFFF;
    overflow-x: hidden;
    min-height: 100vh;
    margin: 0px;
}

header {
    border-bottom: 1px solid #585858;
    position: fixed;
    width: 100%;
    height: auto;
    background-color: #000000;
}

#header_container {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#mea {
    display: flex;
    font-size: 30px;
    vertical-align: middle;
}

#test_name {
    display: flex;
    font-size: 20px;
    vertical-align: middle;
}

#add_button {
    position: fixed;
    margin-left: 93%;
    padding-top: 20px;
}

main {
    padding-top: 60px;
    height: 100%;
}

#dialogue_container {
    padding-top: 10px;
}

#dialogue {
    background-color: #2E2E2E;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    height: 200px;
    border: 1px solid #585858;
    border-radius: 20px;
}

#dialogue_img {
    float: left;
    height: 180px;
    width: 320px;
    display: flex;
    margin: 10px 20px;
    vertical-align: middle;
}

#dialogue_title {
    display: flex;
    margin: 10px 20px;
    font-size: 40px;
}

#dialogue_desc {
    display: flex;
    margin: 10px 20px;
    font-size: 15px;
}


/* ---- added ----- */

#synonym_container {
    display: flex;
    float: left;
    height: 30px;
}

#synonym_input {
    background-color: #3f3f3f;
    width: 200px;
    height: auto;
    padding: 10px;
    border: 1px solid rgb(98, 98, 98);
    border-radius: 10px;
    color: white;
}

#synonym_input::placeholder {
    opacity: 0.5;
    color: whitesmoke;
}

#synonym_btn {
    margin-left: 10px;
    height: 30px;
    background-color: #7f7c7c;
    opacity: 0.9;
    border-radius: 5px;
    color: white;
}

#synonyms {
    margin-left: 25px;
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 300px;
    height: 20px;
    background-color: #3f3f3f;
    color: white;
    text-align: left;
    font-size: 15px;
    padding: 5px 5px;
    border-radius: 5px; 
}

#synonyms::-webkit-scrollbar {
    height: 0px;
}
